{% load static %}

<form method="POST" action="{% url 'update' id %} " id="myForm">
    {% csrf_token %}
    <div class="container">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.id.id_for_label }}">{{ form.id.label }}</label>
                    {{ form.id }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.customer_no.id_for_label }}">{{ form.customer_no.label }}</label>
                    {{ form.customer_no }}
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.arabic_name.id_for_label }}">{{ form.arabic_name.label }}</label>
                    {{ form.arabic_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.arabic_description.id_for_label }}">{{ form.arabic_description.label }}</label>
                    {{ form.arabic_description }}
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.english_name.id_for_label }}">{{ form.english_name.label }}</label>
                    {{ form.english_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.customer_no.id_for_label }}">{{ form.english_description.label }}</label>
                    {{ form.english_description }}
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.note.id_for_label }}" style="vertical-align: top;">{{ form.note.label }}</label>
                    {{ form.note }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.address.id_for_label }}" style="vertical-align: top;">{{ form.address.label }}</label>
                    {{ form.address }}
                </div>
            </div>
        </div>
    </div>
</form>